PORT=4000
CORS_ORIGIN=http://localhost:4200

DB_HOST=localhost
DB_PORT=5432
DB_USER=kpd
DB_PASSWORD=kpd
DB_NAME=kpd
DB_SYNC=true
DB_LOGGING=false

JWT_SECRET=change-me-in-production-use-long-secret
JWT_EXPIRES_IN=7d
