PORT=4000
CORS_ORIGIN=http://localhost:4200
MAX_FILE_SIZE_MB=1024
UPLOAD_CHUNK_SIZE=8388608

DB_HOST=localhost
DB_PORT=5432
DB_USER=kpd
DB_PASSWORD=kpd
DB_NAME=kpd
DB_SYNC=true
DB_LOGGING=false

JWT_SECRET=change-me-in-production-use-long-secret
JWT_EXPIRES_IN=7d

MINIO_ENDPOINT=localhost
MINIO_PORT=9000
MINIO_USE_SSL=false
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_BUCKET=kpd
